# Data Science Tools and Ecosystem

## Author
Siddharth Boyanapalli

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Listing some popular languages Data Scientists use
- Listing some popular libraries that data scientists use in these programming languages
- Listing some popular Data Science Tools
- Performing some arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. TensorFlow
3. NumPy
4. PyTorch
5. Pandas

| Data Science Tools|
|-------------------|
| Jupyter Notebooks |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#The following is a simple arithmetic expression to multiply and then add integers. (3*4)+5

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335